%%markdown
# REGEX
## Expressions

**\d** Any numeric digit from 0 to 9 <br>
**\D** Matches any char which is not a decimal digit. _This is the opposite of \d_  
**\w** Any letter, numeric digit or the underscore char (Think of this as matching 'word' chars)   
**\W** Any char that is not a letter, numeric digit or underscore char (opposite of \w)   
**\s** Any space, tab or newline char (Think of this as matching white-space chars)   
**\S** Any char that is not a space, tab or newline (opposite of \s) 
> Text that will be indented when the Markdown is rendered.

`sfs`

**sfsfvgf**

In [11]:
import pandas as pd 
import re

In [22]:
text=re.search('\d','gvredgvfsdfegr46')

In [23]:
text.group()

'4'

In [24]:
text=re.search('\D','22a')
print(text.group())

a

In [29]:
text='my phone number is 550-494-4234-4234'
output=re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)-(\d\d\d\d)', text)
print(output)
print(output.group())

<re.Match object; span=(19, 36), match='550-494-4234-4234'>
550-494-4234-4234

In [33]:
text='my phone number is (550) 494-4234-4234'
output=re.search('(\(\d\d\d\)) (\d\d\d-\d\d\d\d-\d\d\d\d)', text)
print(output.group(1),output.group(2))

(550) 494-4234-4234

In [38]:
value='fsdfs12vsdv3dsfsd823sfgerg22222'
output=re.findall('\d{1,3}',value)#bir basamak dahil, 3 basamak dahil sayilari tespit et demek
print(output)

['12', '3', '823', '222', '22']

### Remove anything other tahn digits and print

In [45]:
phone='1231231123 # This is a phone number'
output=re.sub('\D','',phone)
print(output)

1231231123

In [48]:
s=pd.Series(['a3','b4','c5'])
s.str.extract('(\d)')

   0
0  3
1  4
2  5

In [49]:
s=pd.Series(['a3','b4','c5'])
s.str.extract('(\w)')

   0
0  a
1  b
2  c

In [50]:
s=pd.Series(['ass3','b4df3','c5fdffd'])
s.str.extract('(\w\d)')

    0
0  s3
1  b4
2  c5