%%markdown
# REGEX
## Expressions

**\d** Any numeric digit from 0 to 9 <br>
**\D** Matches any char which is not a decimal digit. _This is the opposite of \d_  
**\w** Any letter, numeric digit or the underscore char (Think of this as matching 'word' chars)   
**\W** Any char that is not a letter, numeric digit or underscore char (opposite of \w)   
**\s** Any space, tab or newline char (Think of this as matching white-space chars)   
**\S** Any char that is not a space, tab or newline (opposite of \s) 
> Text that will be indented when the Markdown is rendered.

`sfs`

**sfsfvgf**

In [11]:
import pandas as pd 
import re

In [22]:
text=re.search('\d','gvredgvfsdfegr46')

In [23]:
text.group()

'4'

In [24]:
text=re.search('\D','22a')
print(text.group())

a

In [29]:
text='my phone number is 550-494-4234-4234'
output=re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)-(\d\d\d\d)', text)
print(output)
print(output.group())

<re.Match object; span=(19, 36), match='550-494-4234-4234'>
550-494-4234-4234

In [33]:
text='my phone number is (550) 494-4234-4234'
output=re.search('(\(\d\d\d\)) (\d\d\d-\d\d\d\d-\d\d\d\d)', text)
print(output.group(1),output.group(2))

(550) 494-4234-4234

In [38]:
value='fsdfs12vsdv3dsfsd823sfgerg22222'
output=re.findall('\d{1,3}',value)#bir basamak dahil, 3 basamak dahil sayilari tespit et demek
print(output)

['12', '3', '823', '222', '22']

### Remove anything other tahn digits and print

In [45]:
phone='1231231123 # This is a phone number'
output=re.sub('\D','',phone)
print(output)

1231231123

In [48]:
s=pd.Series(['a3','b4','c5'])
s.str.extract('(\d)')

   0
0  3
1  4
2  5

In [49]:
s=pd.Series(['a3','b4','c5'])
s.str.extract('(\w)')

   0
0  a
1  b
2  c

In [50]:
s=pd.Series(['ass3','b4df3','c5fdffd'])
s.str.extract('(\w\d)')

    0
0  s3
1  b4
2  c5

In [52]:
s=pd.Series(['40 l/100 km (comb)','8.3 kg/100 km', '0 l/100 km', '7.5 l/100 km'])
result=s.str.extract('(\d\d|\d.\d|\d)')# Or ifadesinin kullanimina ornek
result

     0
0   40
1  8.3
2    0
3  7.5

In [63]:
s=pd.Series(['40 l/100 km (comb)','8.3 kg/100 km', '0 l/100 km', '7.5 l/100 km'])
result=s.str.extract('(^\d\d|\d.\d|\d).+(\d\d\d)')# Or ifadesinin kullanimina ornek
#Burada aradaki nokta '.' Any char (except newline char) anlamina geliyor.
result

     0    1
0   40  100
1  8.3  100
2    0  100
3  7.5  100

In [66]:
'''
'[]' A set of chars '[a-m]'    
'\' Signals a special sequence (can also be used to escape special chars)  
'.' Any char (except newline char)   
'^' Starts with '^hello'   
'$' Ends with 'world$'     
'*' Zero or more occurences   
'+' One or more occurences   
'{}' Exactly the specified number of occurences   
'|' Either or 'falls|stays'   
'()' Capture and group 
'''

"\n'[]' A set of chars '[a-m]'    \n'' Signals a special sequence (can also be used to escape special chars)  \n'.' Any char (except newline char)   \n'^' Starts with '^hello'   \n'$' Ends with 'world$'     \n'*' Zero or more occurences   \n'+' One or more occurences   \n'{}' Exactly the specified number of occurences   \n'|' Either or 'falls|stays'   \n'()' Capture and group \n"

In [74]:
s=pd.Series(['40 l/100 km (comb)','8.3 kg/100 km', '0 l/100 km', '7.5 l/100 km'])
result=s.str.extract('(^\d*.\d*) \w*/(\d*)')
result

     0    1
0   40  100
1  8.3  100
2    0  100
3  7.5  100

In [100]:
s=pd.Series(['06/2020\n\n4.9 l/100 km (comb)', '11/2020\n\n5.3 l/100 km (comb)', '11/2020\n\n106 g CO2/km (comb)'])
# result=s.str.extract('(\d\d).(\d\d\d\d)')
# result=s.str.extract('(\d\d)/(\d\d\d\d)') # Bu da olur burada
result=s.str.extract('(\d{2}).(\d{4})') #Exactly the specified number of occurences --> {}
# result=s.str.extract('(\d{1,2}).(\d{4})') #Bir veya iki rakam gelirse anlaminda iki deger girebilirdik --> {}

result1=s.str.extract('(\d*)..(\d*)')#Ilk grup sayiyla baslasin, kac sayi oldugu onemli degil,
#onu ilk grup olarak dondur, sonrasinda ne gelirse gelsin (.), 
#sonrasinda yine ne kadar rakam gelirse gelsin 
result2=s.str.extract('(\d\d)/(\d\d\d\d)')#burada / onune \ escape sequence e gerek yok, cunku / special char degil.
# \n\nden sonraki kismi da almaya calisirsak asagideki gibi:
result3=s.str.extract('(\d{2})/(\d{4})\s*(\d{3}|\d.\d)')
print(result)
print(result1)
print(result2)
print(result3)

    0     1
0  06  2020
1  11  2020
2  11  2020
    0    1
0  06  020
1  11  020
2  11  020
    0     1
0  06  2020
1  11  2020
2  11  2020
    0     1    2
0  06  2020  4.9
1  11  2020  5.3
2  11  2020  106