In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.Series([12, 56, 35, 45, 65])

0    12
1    56
2    35
3    45
4    65
dtype: int64

In [4]:
ser = pd.Series([12, 56, 35, 45, 65])

In [5]:
ser

0    12
1    56
2    35
3    45
4    65
dtype: int64

In [6]:
type(ser)

pandas.core.series.Series

In [10]:
ser.size

5

In [11]:
ser.ndim

1

In [12]:
ser.values

array([12, 56, 35, 45, 65], dtype=int64)

In [13]:
for i in ser.values:
    print(i)

12
56
35
45
65

In [14]:
[i for i in ser.values]

[12, 56, 35, 45, 65]

In [15]:
ser.head(2)

0    12
1    56
dtype: int64

In [16]:
ser.tail(3)

2    35
3    45
4    65
dtype: int64

In [17]:
string = "clarusway"

pd.Series([i for i in string])

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [18]:
labels =["a", "b", "c" ]
my_list = [10, 20, 30]
arr = np.array(my_list)
d = {"a":10, "b":20, "c":30}

In [19]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [20]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [21]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [22]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [23]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [26]:
s = pd.Series(data = ["x","y","z","w"], index = [3,4,2,1])

In [27]:
s

3    x
4    y
2    z
1    w
dtype: object

In [29]:
s.sort_index()

1    w
2    z
3    x
4    y
dtype: object

In [32]:
s.sort_index(inplace=True)

In [33]:
s

1    w
2    z
3    x
4    y
dtype: object

In [34]:
s = pd.Series(data = ["p","q","r","s"], index = [3,4,2,np.nan])

In [35]:
s

3.0    p
4.0    q
2.0    r
NaN    s
dtype: object

In [36]:
s.sort_index(na_position = "first")

NaN    s
2.0    r
3.0    p
4.0    q
dtype: object

In [40]:
ser1 = pd.Series([1,2,3,4],["usa","germany","ussr","japan"])

In [41]:
ser1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [52]:
ser1["usa":"ussr"]

usa        1
germany    2
ussr       3
dtype: int64

In [42]:
ser2=pd.Series([1,2,3,4],["usa","germany","italy","japan"])

In [43]:
ser2

usa        1
germany    2
italy      3
japan      4
dtype: int64

In [44]:
ser1+ser2

germany    4.0
italy      NaN
japan      8.0
usa        2.0
ussr       NaN
dtype: float64

In [48]:
panser = pd.Series(index = ["Ali", "Veli", "Nur", "Gül"], data = [15,60,99,72])

In [49]:
panser

Ali     15
Veli    60
Nur     99
Gül     72
dtype: int64

In [50]:
panser["Ali"]

15

In [51]:
panser[0]

15

In [54]:
panser[["Veli","Gül"]]

Veli    60
Gül     72
dtype: int64

In [55]:
panser[0:3]

Ali     15
Veli    60
Nur     99
dtype: int64

In [56]:
panser.index

Index(['Ali', 'Veli', 'Nur', 'Gül'], dtype='object')

In [57]:
panser.values

array([15, 60, 99, 72], dtype=int64)

In [61]:
panser.items

<bound method Series.items of Ali     15
Veli    60
Nur     99
Gül     72
dtype: int64>

In [62]:
panser["Veli"]=100

In [63]:
panser

Ali      15
Veli    100
Nur      99
Gül      72
dtype: int64